*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-grey: #0a0a23;
  --white: #ffffff;
  --yellow: #f1be32;
}

body {
<<<<<<< HEAD
  font-family: Arial, Helvetica, sans-serif;
=======
<<<<<<< HEAD
  font-family: Arial, Helvetica, sans-serif;
=======
>>>>>>> 6404e1f64f1e2753bce7f5fc1d9b13592bfba2ce
>>>>>>> 40dd9931744b44392a09901abd0ab5b44addf910
  color: var(--white);
  background-color: var(--dark-grey);
}

.title-container {
  margin: 10px 0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.title {
  font-size: 2.5rem;
}

.date-svg {
  width: 30px;
  height: 30px;
}

.divider {
  margin: auto;
  width: 100%;
  height: 10px;
  background-color: var(--yellow);
}

.dropdown-container {
  width: 50%;
  margin: 40px auto;
  position: relative;
}

select {
  display: block;
  margin: 20px auto 0;
  width: 100%;
  height: 50px;
  font-size: 100%;
  font-weight: bold;
  cursor: pointer;
  background-color: var(--white);
  border: none;
  color: var(--dark-grey);
  appearance: none;
  padding: 10px;
  padding-right: 38px;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: color 0.3s ease, background-color 0.3s ease,
    border-bottom-color 0.3s ease;
}

.select-icon {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 30px;
  height: 36px;
  pointer-events: none;
  padding-left: 5px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.select-icon svg.icon {
  transition: fill 0.3s ease;
  fill: var(--dark-grey);
}

#current-date {
  font-size: 2rem;
  text-align: center;
}

<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 40dd9931744b44392a09901abd0ab5b44addf910
.clock{
  position: absolute;
  max-width: 110px;
  padding: 8px;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  gap: 2px;
  border: 2px solid blanchedalmond;
  transform: translate(-50%);
  transition: all 0.1s;
}

.clock > p{
  text-align: center;
  font-size: 25px;
  
}

<<<<<<< HEAD
=======
=======
>>>>>>> 6404e1f64f1e2753bce7f5fc1d9b13592bfba2ce
>>>>>>> 40dd9931744b44392a09901abd0ab5b44addf910
@media (max-width: 375px) {
  .title {
    font-size: 2rem;
  }

  .dropdown-container {
    width: 80%;
  }

  .date-svg {
    display: none;
  }
}
